.imagen-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagen-2 img {
    margin-top: 100px;
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.imagen-3 h1 {
    font-size: 1rem;
    margin-top: 150px;
}
.imagen-3 img{
    width: 90%;
    height: 100%;
}
.boton button {
    margin: 70px;
    margin-bottom: 150px;
}


.imagen-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.ver-producto{
    position: absolute;
    top: 100%;
    left: 5%;
}
.ver-producto img {
    width: 130px;
}
.conoce-mas{
    position: absolute;
    top: 440%;
    left: 4%;
}
.conoce-mas img{
    width: 120px;
}
.mas-sobre-nosotros{
    position: absolute;
    top: 218%;
    left: 85%;
}
.mas-sobre-nosotros img{
    width: 170px;
}

@media  (max-width: 1200px) {
    .imagen-4 img {
        margin-bottom: -1px;
    }
    .mas-sobre-nosotros{
        margin-top: 90px;
    }
}
