.imagen-5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-container {
    text-align: center;
    margin: 40px 0;
}
@media (max-width: 1200px) {
    .imagen-5 img {
        margin-bottom: -1px;
    }
}
@media (min-width: 1201px) {
    .imagen-5 img {
        margin-bottom: -1px;
    }
    .video-container{
        width: 100%;
    }
    
}